<% provide(:title, "Home") %>

<div class="container">
  <!--<%= render partial: 'layouts/carousel/carousel' %>-->
  <div class="row top-offset">
    <div class="col-sm-4 col-md-3 hidden-xs ">
      <div class="panel panel-default">
        <div class="panel-heading">分类目录</div>

        <div class="list-group ">
          <a  class="list-group-item text-center active">分类</a>
          <a class="list-group-item text-center">分类</a>
          <a class="list-group-item text-center">分类</a>
          <a class="list-group-item text-center">分类</a>
          <a class="list-group-item text-center">分类</a>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">近期文章</div>
        <div class="panel-body"></div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">近期评论</div>
        <div class="panel-body"></div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">标签</div>
        <div class="panel-body"></div>
      </div>
    </div>
    <div class="col-sm-8 col-md-9 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">文章列表</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12">
              <div class="thumbnail">
                <img src="img/1352353198470.jpg" alt="..." class="">

                <div class="caption">
                  <h3>Thumbnail label
                    <small>Secondary text</small>
                  </h3>
                  <p>...</p>

                  <p class="text-right"><a href="#" class="btn btn-primary" role="button">阅读全部图文</a></p>
                </div>
                <div class="panel-footer">


                </div>
              </div>

              <div class="thumbnail">
                <div class="caption">
                  <h3>Thumbnail label
                    <small>Secondary text</small>
                  </h3>
                  <p>...</p>

                  <p class="text-right"><a href="#" class="btn btn-primary" role="button">阅读全部图文</a></p>
                </div>
              </div>
              <div class="thumbnail">
                <div class="caption">
                  <h3>Thumbnail label
                    <small>Secondary text</small>
                  </h3>
                  <p>...</p>

                  <p class="text-right"><a href="#" class="btn btn-primary" role="button">阅读全部图文</a></p>
                </div>
              </div>
              <div class="thumbnail">
                <div class="caption">
                  <h3>Thumbnail label
                    <small>Secondary text</small>
                  </h3>
                  <p>...</p>

                  <p class="text-right"><a href="#" class="btn btn-primary" role="button">阅读全部图文</a></p>
                </div>
              </div>
              <div class="thumbnail">
                <div class="caption">
                  <h3>Thumbnail label
                    <small>Secondary text</small>
                  </h3>
                  <p>...</p>

                  <p class="text-right"><a href="#" class="btn btn-primary" role="button">阅读全部图文</a></p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
