// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,body,.wrap
{
  height: 100%;
}
.wrap
{ height: auto;
  min-height: 100%;
}
.content
{
  padding-bottom: 50px;
  width: 100%;
}
.footer
{
  position: relative;
  margin-top: -60px; /* footer高度的负值 */
  height:60px;
  margin-bottom: 0;
  padding-bottom: 0;

}

.mycarousel .carousel-control
{
  background-image:none;
}
.mycarousel .carousel-indicators
{
  transform: translate(0,100px);
}
.mycarousel .carousel-indicators,
.mycarousel .carousel-control
{
  opacity:0;
  transition: opacity 1s ease-in-out,transform 1s ease-in-out;
}
.mycarousel .carousel-control.left
{
  transform: translate(-100px,0);
}
.mycarousel .carousel-control.right
{
  transform: translate(100px,0);
}
.mycarousel:hover .carousel-control
{
  transform: translate(0,0);
  opacity: 1;
  transition: opacity 1s ease-in-out,transform 1s ease-in-out;
}
.mycarousel:hover .carousel-indicators
{
  transform: translate(0,0);
  opacity: 1;
  transition: opacity 1s ease-in-out,transform 1s ease-in-out;
}
.mycarousel .item img
{
  width: 100%;
  height: 300px;
}
.top-offset
{
  margin-top: 10px;

}
.bottom-offset
{
  margin-bottom: 10px;
}

.nopadding-left
{
  padding-left:0;
}
.nopadding-right
{
  padding:0;
}
