
  <div class="col-md-3 col-sm-5">
    <div class="list-group">
      <%= link_to "文章管理", articles_path,:class=>"list-group-item" %>
      <a href="#" class="list-group-item ">系统管理</a>
    </div>
  </div>
